In [1]:
def my_fn_add_10(x):
    y=x+10
    return y
my_fn_add_10(2)

12

In [2]:
def my_fn_add_10(x):
    #global y # 'global' 함수를 지정하면 y가 'my_fn_add_10()' 의 함수 밖에서도 y는 my_fn_add_10으로 저장되어 활용된다.
    y=x+10
    print('inside fn, y='+str(y))
    return y
my_fn_add_10(2)
y=5
print(('Outside fn, y=')+str(y))

inside fn, y=12
Outside fn, y=5

In [3]:
def my_fn_add_10_v2(x=50):    
    return x+10
my_fn_add_10_v2()

60

## Positional Arguments

In [4]:
def my_fn_add_two_num(x1, x2):
    return x1**x2
my_fn_add_two_num(3,3)

27

In [5]:
# Keyword Arguments
def my_print(name='Nobody', age=0, lan='None'):
    print(name+' '+str(age)+' '+lan)

my_print('Jogga')
my_print('Jogga',24)
my_print(lan='sibal',age=24, name='Jogga')

Jogga 0 None
Jogga 24 None
Jogga 24 sibal

73400

In [8]:
# arbitary arguments
def my_print(*arguments): # arguments앞에 '*'를 붙이면 input이 몇개가 들어오든 상관이 없음
    for arg in arguments:
        print(arg)

my_print('abc','def','ghi')

abc
def
ghi

In [12]:
def my_add(*args):
    total = 0
    for a in args:
        total += a
    return total

my_add(10,20,30,40)

100

In [14]:
def my_concat(*args):
    combined=str()
    for a in args:
        combined += a
    return combined

my_concat('Si','bal')

'Sibal'

In [17]:
# unpacking arguments
list(range(0,5,1))

a=[10,15]
list(range(a[0],a[1]+1))
a[1]+=1
list(range(*a))

[10, 11, 12, 13, 14, 15]

In [28]:
import numpy as np

In [34]:
# 위의 식을 함수로 만들기
def my_list():
    num_s=int(input('Start num: '))
    num_e=int(input('End num: '))
    num_inc = int(input('Increment: '))

    out_list=list(range(num_s,num_e+1,num_inc))

    return min(out_list), max(out_list), np.sum(out_list)

my_list()

(0, 100, 1300)

In [51]:
def my_list_v2():
    print('Input three numbers: ')
    print('Start #, End #, Increment')
    print('For examle: 0, 5, 1')

    ui=input('Waiting for input: ')
    ui_list=[int(i) for i in ui.split(',')]
    ui_list[1]+=1 # range() 범위에서 (0,5,1)일 경우 5까지 포함

    out_list=list(range(*ui_list))

    return out_list

my_list_v2()

Input three numbers:
Start #, End #, Increment
For examle: 0, 5, 1

[0, 2, 4, 6, 8]

In [58]:
# Documentation : 도움말 넣기
def my_fn_add_10(num):
    """what?    """
    out = num+10
    return out

In [62]:
# annotation 결과값에 주석을 달아주는기능
def my_fn(num:int)->int: # '->int'는 output이 나오는 데이터 타입을 알려주는 기능
    out=num+10
    return out

print(my_fn.__annotations__)

{'num': <class 'int'>, 'return': <class 'str'>}

In [69]:
# lambda
add_one = lambda x: x+1
y= (lambda x: x+1)(10)
y

11

In [70]:
def my_fn_add_10_v1(x):
    return x+10
high_ord_fn=lambda x: x+ my_fn_add_10_v1(x)
high_ord_fn(2)

14

In [75]:
high_ord_fn=lambda x, func: x+func(x)
high_ord_fn(2, lambda x: x+1)
high_ord_fn(2, lambda x: x-1)
high_ord_fn(2, lambda x: x**5)

34

In [83]:
# map()
a=[1,2,3,4,5]
b= list(map(my_fn_add_10_v1,a)) # list(map(my_fn_add_10_v1, a)) : my_fn_add_10_v1 이라는 함수에 위에 작성한 a 리스트들을 각각 적용시켜 결과를 출력
b

[11, 12, 13, 14, 15]

In [85]:
b=list(map(lambda x: x**2,a))
b

[1, 4, 9, 16, 25]

In [104]:
# map example-2
vip='euler'

vip_list=['kepler','newton','euler']
vip_list_up=list(map(lambda x: x.upper(), vip_list))
vip_list_up

['KEPLER', 'NEWTON', 'EULER']

In [138]:
vip_list_len=list(map(lambda x: len(x),vip_list[0:1]))
vip_list_len

[6]

In [142]:
# filter : 데이터를 분석할때 매우 유용함
# list(filter(lambda x: 'P' in x,  vip_list_up)) -> 'vip_list_up' 리스트에 알파벳 'P'가 들어있는 글자를 출력

num_list=[1,2,3,4,5]
list(filter(lambda x: x%2==0,num_list)) # num_list 에서 x가 2로 나누었을때 0으로 나오는 수를 출력

[2, 4]

In [145]:
# reduce 연속적으로 연산을 하는데 유용함 -> 리스트 배열에서 숫자를 차례로 더해줌
from functools import reduce

num_list=[10,20,30]

def my_fn_add(x,y):
    return x+y

reduce(my_fn_add, num_list)

60

In [147]:
reduce(lambda a,b: a*b, num_list)

6000

In [148]:
str_list=['P','Y','T','H','O','N']
reduce(lambda x,y: x+y, str_list)

'PYTHON'

In [153]:
# list comprehension vs lambda function
letter_list=[]
for letter in 'Python':
    letter_list.append(letter)


#위와 같은 코드
letter_list_2=[letter for letter in 'Python']

print(letter_list, letter_list_2)

['P', 'y', 't', 'h', 'o', 'n'] ['P', 'y', 't', 'h', 'o', 'n']

In [158]:
letter_list_3=list(map(lambda x: x+'h', 'Python'))
letter_list_3

['Ph', 'yh', 'th', 'hh', 'oh', 'nh']

In [25]:
# MyMathLib Package - Creating Functions

# fibonacci sequence
def my_fib_seq(n):
    a,b=0,1
    seq=[a,b] # seq 리스트에 수열 a,b 저장
    for i in range(n-2): 
        a,b=b,a+b # a=b, b=a+b
        seq.append(b) 
    return seq
my_fib_seq(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [36]:
def my_powers(number):
    return number, number**2, number**3

number, square, cube=my_powers(2)
print(number, square, cube)

2 4 8

In [58]:
# sum
def my_sum(num_list):
    total=0
    for num in num_list:
        total += num
    return total
my_sum([2,3,5,6,6])

22

In [64]:
import numpy as np
def sibal(num_list):
    total=len(num_list)
    for s in num_list:
        s=np.sum(num_list)
    return s/total
sibal([10,10,20])

13.333333333333334

In [55]:
# mean
def my_mean(num_list):
    s=my_sum(num_list)
    n=len(num_list)
    return s/n
    
my_mean([10,10,40])

20.0